@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: "JetBrains Mono", monospace;
    --line-height: 1.20rem;
    --border-thickness: 2px;
    --text-color: #000;
    --text-color-alt: #666;
    --background-color: #fff;
    --background-color-alt: #eee;

    --font-weight-normal: 500;
    --font-weight-medium: 600;
    --font-weight-bold: 800;

    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-variant-numeric: tabular-nums lining-nums;
    font-size: 16px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #fff;
      --text-color-alt: #aaa;
      --background-color: #000;
      --background-color-alt: #111;
    }
  }

  html {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--text-color);
  }


  blockquote {
    border-left: 3px solid var(--heading-color);
    color: #737373;
    margin: 0;
    padding-left: 1em
  }

  a {
    text-decoration-thickness: var(--border-thickness);
  }

  a:link,
  a:visited {
    color: var(--text-color);
  }
}
