---
import { SOCIAL_LINKS } from "@siteConfig";
---

<section>
  <p>
    <a href="https://techforpalestine.org/learn-more" class="external"
      ><img
        src="https://badge.techforpalestine.org/default"
        alt="Ceasefire Now"
      /></a
    >
  </p>

  <br />

  <p>
    Hello internet, I’m <strong>Mohamed Abdelkhalek Salah</strong> (Arabic: <strong
      >محمد عبدالخالق صلاح</strong
    >). This is my <a
      href="https://github.com/MaggieAppleton/digital-gardeners"
      class="external">digital garden</a
    >. It’s a public space.
  </p>
  <br />
  <p>
    I’m a <strong>Software Engineer</strong>. Adoptable with any technology for
    now I’m using <a href="https://nodejs.org/" class="external">NodeJS</a>, <a
      href="https://www.typescriptlang.org/"
      class="external">Typescript</a
    >, <a href="https://nestjs.com/" class="external">NestJS</a>, <a
      href="https://www.postgresql.org/"
      class="external">PostgreSQL</a
    >, and <a href="https://nextjs.org/" class="external">NextJS</a> In my work,
    using <a href="https://go.dev/" class="external">Golang</a> and <a
      href="https://www.rust-lang.org/"
      class="external">Rust</a
    > for my side project.
  </p>
  <h2 class="mt-6 text-lg font-bold">Contacts and Social profiles</h2>
  <ul>
    {
      Object.keys(SOCIAL_LINKS).map((socialLinkKey) => {
        return (
          <li>
            <a href={SOCIAL_LINKS[socialLinkKey].url}>
              {SOCIAL_LINKS[socialLinkKey].label}
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
